   <%-include('partials/head') %>
   <%-include('partials/header') %>

   <main>
     <h1><%= title %></h1>
     <p> <%= title %> | Só para convidados!</p>

     <% if(locals.convidados) { %>
     <h2><%= convidado.nome %></h2>

     <% if( convidado.nome ) { %>
     <small><b>VIP</b></small>
     <% } %>
     
     <p>Quantidade: <%= convidado.quantidade %> pessoas</p>
     <% } %>

   </main>

   <%-include('partials/footer') %>